body{
  background-image: url ("flynnlau.github.io/forhppostcard1.jpg");
  background-color: white;
  color: blue;
  font-family: helvetica, sans-serif;
  margin-left: 20%;
  margin-right: 20%;
  
}
.experience-header {
  text-transform: uppercase;
  border-top: 2px dotted orange;
  border-bottom: 2px dotted orange;
  background-color: rgba(0,400,0,0.3)
}

.education-header {
  text-align: left;
  text-transform: uppercase;
  border-top: 2px dotted orange;
  border-bottom: 2px dotted orange;
  background-color: rgba(0,400,0,0.3)
}

h6{
  line-height: .1%;
  font-size: 12px;
  text-indent: 30px;
}
h2{
  font-size: 14px;
}
img{
  max-width: 100%;
  height: auto;
}
