body{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: blue;
  font-size: 110%;
  font-family: helvetica, sans-serif;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30%;
  margin-bottom: 10%;
}

.experience-header {
  text-transform: uppercase;
  border-top: 2px groove orange;
  border-bottom: 2px groove orange;
}

.education-header {
  text-align: left;
  text-transform: uppercase;
  border-top: 2px groove orange;
  border-bottom: 2px groove orange;
}

.exhibitions-header {
  text-align: left;
  text-transform: uppercase;
  border-top: 2px groove orange;
  border-bottom: 2px groove orange;
}

h6{
  line-height: .1%;
  font-size: 100%;
  text-indent: 30px;
}
h5{
  font-size: 110%;
}
h2{
  font-size: 14px;
}
